In [2]:
import numpy as np

In [2]:
a=np.array([[1,2,3],[3,4,5]])
a

array([[1, 2, 3],
       [3, 4, 5]])

In [5]:
a[0]#select specific row 
a[0][:]

array([1, 2, 3])

In [6]:
a[:,2]#select specific columun

array([3, 5])

In [10]:
ones=np.ones((2,3))
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [7]:
full=np.full((2,3),5)
full

array([[5, 5, 5],
       [5, 5, 5]])

In [13]:
np.random.random((3,5))#why rand is error  "tuple' object cannot be interpreted as an integer"

array([[0.82082049, 0.69023589, 0.63449849, 0.5717355 , 0.02497105],
       [0.32215325, 0.30091788, 0.6314676 , 0.44270606, 0.43727838],
       [0.55248994, 0.33004113, 0.13021173, 0.44262787, 0.16219349]])

In [15]:
d=np.identity(3)#identity matrices

In [16]:
np.linalg.det(d)

1.0

In [20]:
np.array([[2,3,4],[5,6,7]])#why use two slashes

array([[2, 3, 4],
       [5, 6, 7]])

In [21]:
#np vertical and horizontal stack

In [27]:
np.random.seed(seed=10)
np.random.random((3,5))

array([[0.77132064, 0.02075195, 0.63364823, 0.74880388, 0.49850701],
       [0.22479665, 0.19806286, 0.76053071, 0.16911084, 0.08833981],
       [0.68535982, 0.95339335, 0.00394827, 0.51219226, 0.81262096]])

In [23]:
np.random.rand(3,5)

array([[0.61252607, 0.72175532, 0.29187607, 0.91777412, 0.71457578],
       [0.54254437, 0.14217005, 0.37334076, 0.67413362, 0.44183317],
       [0.43401399, 0.61776698, 0.51313824, 0.65039718, 0.60103895]])

In [35]:
a1=np.random.rand(2,3,4)
a1

array([[[0.92535687, 0.56674992, 0.53347088, 0.01486002],
        [0.97789926, 0.5730289 , 0.791757  , 0.56155736],
        [0.87733524, 0.58419583, 0.70884983, 0.14853345]],

       [[0.42845074, 0.69389007, 0.10461974, 0.43960524],
        [0.16620215, 0.50697863, 0.81903586, 0.09010673],
        [0.80006875, 0.56512635, 0.58934771, 0.19810066]]])

In [36]:
a1[0][2][0]

0.8773352415649347

In [37]:
a1[:1][:1][:2]

array([[[0.92535687, 0.56674992, 0.53347088, 0.01486002],
        [0.97789926, 0.5730289 , 0.791757  , 0.56155736],
        [0.87733524, 0.58419583, 0.70884983, 0.14853345]]])

In [42]:
a0=np.array([2,4,5])
a1=np.array([2,3,6])
a2=np.array([[1,4,5],[3,2,4]])

In [47]:
a0*a2

array([[ 2, 16, 25],
       [ 6,  8, 20]])

In [48]:
a0*a2

array([[ 2, 16, 25],
       [ 6,  8, 20]])

In [49]:
np.log(a0)

array([0.69314718, 1.38629436, 1.60943791])

In [52]:
a0

array([2, 4, 5])

In [54]:
a0 ** 2

array([ 4, 16, 25], dtype=int32)

In [56]:
np.square(a0)

array([ 4, 16, 25], dtype=int32)

In [57]:
a2

array([[1, 4, 5],
       [3, 2, 4]])

In [58]:
np.square(a2)

array([[ 1, 16, 25],
       [ 9,  4, 16]], dtype=int32)

In [59]:
np.log(a2)

array([[0.        , 1.38629436, 1.60943791],
       [1.09861229, 0.69314718, 1.38629436]])

In [60]:
a2/a0

array([[0.5, 1. , 1. ],
       [1.5, 0.5, 0.8]])

In [61]:
a0

array([2, 4, 5])

In [62]:
a2/a2

array([[1., 1., 1.],
       [1., 1., 1.]])

In [63]:
a2

array([[1, 4, 5],
       [3, 2, 4]])

In [64]:
a2*a0

array([[ 2, 16, 25],
       [ 6,  8, 20]])

In [65]:
a2*a2

array([[ 1, 16, 25],
       [ 9,  4, 16]])

In [66]:
a2%2

array([[1, 0, 1],
       [1, 0, 0]], dtype=int32)

In [68]:
np.exp(a2)

array([[  2.71828183,  54.59815003, 148.4131591 ],
       [ 20.08553692,   7.3890561 ,  54.59815003]])

In [69]:
a0

array([2, 4, 5])

In [70]:
#e the power of number
np.exp(a0)

array([  7.3890561 ,  54.59815003, 148.4131591 ])

In [75]:
 2.71828 ** 5

148.41265995084171

#### agggregation

In [76]:
a1

array([2, 3, 6])

In [83]:
a2

array([[1, 4, 5],
       [3, 2, 4]])

In [78]:
np.sum(a2)

19

In [90]:
#creating array of strings

In [85]:
array[-10:-1]

array([0.75472357, 0.27252618, 0.566517  , 0.47668497, 0.55662069,
       0.44073706, 0.69373736, 0.71823718, 0.75638236])

In [94]:
a1=np.array([2, 3, 6,4])
a1

array([2, 3, 6, 4])

In [92]:
%timeit sum(a1)
%timeit np.sum(a1)

2.5 µs ± 89.5 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)
8.62 µs ± 515 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [95]:
%timeit sum(a1)
%timeit np.sum(a1)

2.4 µs ± 348 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)
7.87 µs ± 343 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [129]:
a2
a2

array([1, 2, 4])

In [100]:
np.var(a2[0])

2.8888888888888893

In [101]:
np.std(a2)

1.3437096247164249

In [102]:
a1

array([2, 3, 6, 4])

In [103]:
np.mean(a1)

3.75

In [104]:
np.mean(a2)

3.1666666666666665

In [105]:
19/6

3.1666666666666665

In [118]:
test=np.array([1,2,4])
test

array([1, 2, 4])

In [124]:
a2

array([1, 2, 4])

In [116]:
a2.reshape(3,2,1)

array([[[1],
        [4]],

       [[5],
        [3]],

       [[2],
        [4]]])

In [113]:
a2
a2.shape

(2, 3)

array([1, 2, 4])

In [126]:
a2.transpose()

array([1, 2, 4])

In [128]:
a2.shape

(3,)

In [134]:
a3=np.random.randint(10,size=(2,3))
a3

array([[6, 0, 4],
       [3, 0, 1]])

In [137]:
a3.T

array([[6, 3],
       [0, 0],
       [4, 1]])

In [136]:
a3.shape

(2, 3)

In [139]:
a2

array([1, 2, 4])

In [140]:
a3

array([[6, 0, 4],
       [3, 0, 1]])

In [143]:
a4=np.random.randint(10,size=(2,2))
a4

array([[2, 7],
       [8, 8]])

In [144]:
np.dot(a4,a3)

array([[33,  0, 15],
       [72,  0, 40]])

In [78]:
salesAmount=np.random.randint(20,size=(5,3))
salesAmount

array([[10, 15,  9],
       [ 5, 14,  3],
       [ 1,  8,  4],
       [ 2,  6,  2],
       [ 4, 19,  8]])

In [79]:
import pandas as pd
weeklySales=pd.DataFrame(salesAmount,index=["mon","tue","wed","thrsday","friday"],
                        columns=["almond buttter","peanut Butter","cashew Butter"])
weeklySales

         almond buttter  peanut Butter  cashew Butter
mon                  10             15              9
tue                   5             14              3
wed                   1              8              4
thrsday               2              6              2
friday                4             19              8

In [80]:
prices=pd.array([10,8,6])

In [81]:
prices

<IntegerArray>
[10, 8, 6]
Length: 3, dtype: Int64

In [85]:
price=pd.DataFrame(prices.reshape(1,3),index=["prices"],
                   columns=["almond buttter","peanut Butter","cashew Butter"])

In [86]:
price.shape

(1, 3)

In [88]:

# salesAmount
total_sales=price.dot(weeklySales.T)
prices
weeklyales["total($)"]=total_sales

        mon  tue wed thrsday friday
prices  274  180  98      80    240

In [47]:
# prices=prices.reshape(3,1)
weeklySales

         almond buttter  peanut Butter  cashew Butter total($)
mon                   1              6             10      NaN
tue                  19             19              5      NaN
wed                   0              1             19      NaN
thrsday               0             17              2      NaN
friday               18              7              5      NaN

In [37]:
totalSales=prices.dot(salesAmount.T)
totalSales

          0    1    2    3    4
prices  118  372  122  148  266

In [41]:
totalSales=pd.DataFrame(totalSales)
totalSales

          0    1    2    3    4
prices  118  372  122  148  266

In [43]:
totalSales.shape

(1, 5)

In [52]:
weeklySales["total($)"]=totalSales.
type(weeklySales)

pandas.core.frame.DataFrame

sorting arrays

In [56]:
to_sort=np.random.randint(10,size=(3,4))
to_sort

array([[2, 7, 8, 2],
       [3, 6, 2, 6],
       [5, 4, 5, 8]])

In [57]:
np.sort(to_sort)#arg sort returns index

array([[2, 2, 7, 8],
       [2, 3, 6, 6],
       [4, 5, 5, 8]])

In [59]:
np.argmin(to_sort)

0

In [73]:
<img src="/AllMachineLearning/download.png" />

SyntaxError: invalid syntax (1828794224.py, line 1)